@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
  font-family: 'cwTeXYen', sans-serif;
}
body{
    margin: 0 auto;
    min-width: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 16px 0px rgba(37,43,57,0.1);
}

.header ul {
    display: flex;
    align-items: center;
    padding-right: 60px;
}
.header ul li {
    margin-right: 10px;
}
.header ul li a {
    text-decoration: none;

}

.border{
    width: 1px;
    height: 20px;
    border-radius: 15%;
    background: rgb(141, 141, 141);
    margin-right: 10px;
}

.logo{
    margin-left: 50px;
}
.title{
    padding-top: 120px;
    display: flex;
    justify-content: center;
}
.titleWord{
    margin-top: 60px;
    padding-right: 20px;
    font-family: 'cwTeXYen', sans-serif;
}
.titleWord h2{
    font-size: 36px;
    font-weight: 450;
}
.titleWord p {
    padding-top: 20px;
    color: rgb(162, 162, 162);
    font-size: 16px;
    line-height: 25px;
}
.title img{
    width: 480px;
    height: 240px;
}
.app{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.app img{   
    height: 200px;
    width: 360px;
}
.findapp{
    clip-path: polygon(0 9%, 100% 0, 100% 79%, 0 93%);
    background: #F5F5FF;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.findappWord{
    padding-left: 120px;
    font-family: 'cwTeXYen', sans-serif;
}
.findappWord h2{
    font-size: 24px;
    font-weight:500;
    padding-bottom: 20px;
}
.findappWord p{
    color: rgb(162, 162, 162);
}
.findappWord a img{
    width: 120px;
    height: 45px;
    padding-top: 20px;
}
.findapp img{
    height: 360px;
    width: 360px;
}
.chosen{
    text-align: center;
}
.chosen h2{
    font-size: 36px;
}
.chosen a img{
    margin-top: 20px;
    width: 320px;
    height: 300px;
}
.undefindedApp{
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
    background: #F9F9FA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
.undefindedApp h2{
    font-size: 24px;
    font-weight:500;
    letter-spacing:3px;
    padding-top: 10px;
    font-family: 'cwTeXYen', sans-serif;
}
.undefindedApp p{
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(162, 162, 162);
    letter-spacing: 3px;
    font-family: 'cwTeXYen', sans-serif;
}
.undefindedApp a img{
    width: 120px;
}
.wishman{
    margin-top: 120px;
    height: 360px;
    width: 360px;
}
.footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background: #F2F2F5;
    height: 100px;
    margin-top: -0px;
    box-shadow: 0px 2px 16px 0px rgba(37, 43, 57, 0.1)
}
.footerlogo{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}
.footer ul li{
    margin-right: 20px;
}
.footer ul li a {
    text-decoration: none;
    font-family: 'cwTeXYen', sans-serif;
}
.icon{
    margin-left: -20px;
}

.footericon{
    position: relative;
}
.marker{
    position: absolute;
    display: flex;
    bottom:-40px;
    right: 900px;
}

#toggler{
    display: none;
}
.headerham{
    display: none;
}






@media(max-width: 1320px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 530px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 200px;
        margin-left: 490px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 490px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}
@media(max-width: 1090px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 430px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 200px;
        margin-left: 370px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 370px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}
@media(max-width: 1000px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 390px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 200px;
        margin-left: 340px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 340px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}
@media(max-width: 770px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 260px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 200px;
        margin-left: 220px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 220px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}
@media(max-width: 570px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 160px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 200px;
        margin-left: 130px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 130px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}
@media(max-width: 430px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 90px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 200px;
        margin-left: 50px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 60px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}
@media(max-width: 390px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 80px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 250px;
        margin-left: 40px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 50px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}


@media(max-width: 375px) {
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
   }
   .logo{
    position: absolute;
    left:-50px;
   }

    .titleWord{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 20px;
    }
    .titleWord p {
        font-size: 13px;
    }
    .app{
        display: flex;
        flex-direction: column;
    }
    .findapp{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
        height: 1000px;
    }
    .findappWord{
        text-align: center;
        position: absolute;
        top:700px;
        right: 50px;
        width: 250px;
    }
    .findappWord h2{
        font-size: 36px;
    }
   
    .title img{
        width: 300px;
        height: 250px;
        margin-left: 40px;
    }
    .title{
        margin-top: -120px;
        display: flex;
        flex-direction: column;
    }
    .undefindedApp{
        display: flex;
        flex-direction: column-reverse;
        height: 500px;
    }
    .undefindedAppWord{
        text-align:center;
    }
    
    .app img{   
        height: 200px;
        width: 300px;
        margin-left: 40px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 410px;
        line-height: 50px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
}