
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #F2F2F5;
}

.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 16px 0px rgba(37,43,57,0.1);
}

.header ul {
    display: flex;
    align-items: center;
    padding-right: 60px;
}
.header ul li {
    margin-right: 10px;
}
.header ul li a {
    text-decoration: none;

}

.border{
    width: 1px;
    height: 20px;
    border-radius: 15%;
    background: rgb(141, 141, 141);
    margin-right: 10px;
}

.logo{
    margin-left: 50px;
}
.footer{
    box-shadow: 0px 2px 16px 0px rgba(37,43,57,0.1);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background: #FFF;
    margin-top: -0px;
    
    
}
.footerlogo{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}
.footer ul li{
    margin-right: 20px;
}
.footer ul li a {
    text-decoration: none;
    font-family: 'cwTeXYen', sans-serif;
}
.icon{
    margin-left: -20px;
}


.marker{
    position: absolute;
    display: flex;
    bottom:-40px;
    right: 900px;
}

#toggler{
    display: none;
}
.headerham{
    display: none;
}

.left img{
    width: 55px;
    height: 55px;
    margin-right: 20px;
}
.left{
    
    position: absolute;
    left:360px;
}
.left ul {
    display: flex;
    flex-direction: column;
}
.left li {
    position: relative;
    padding-top: 60px;
    
}
.left a {
    position: absolute;
    top: 75px;
    width: 70px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15%;
    border-color: #f7d1bc;
    
    border: none;
}
.search img{
    width: 100px;
    height: 40px;
}
.btn{
    border: none;
    background: #FFF;
}
.search{
   display: flex;
   align-items: center;
   justify-content: end;
   padding-right: 160px;
   padding-top: 10px; 
   background-color: #F2F2F5;
}
.content{
    position: relative;
    display: flex;
    justify-content: space-around;
    clear: both;
    padding-left: 300px;
}
.logoIcon{
    width: 100px;
    height: 100px;
    position: relative;
}
.icon{
    width: 20px;
    height: 20px;
}
.bookMark{
    position: absolute;
    top: 70px;
    right: 70px;
}
.download{
    position: absolute;
    top: 130px;
     right: 70px;
}
.result a{
    width: 16px;
    height: 32px;
}
.content{
    background-color: #F2F2F5;
}
.star{
    display: flex;flex-direction: row-reverse; position: relative; right: 30px;top: 10px;
}
.star ul {
    transition-delay: 8s;
    direction: ltr;
    clear: both;
    display: flex;
  }
  
  ul {
    display: flex;
  }
  
  .star li a {
    display: inline-block;
    color: #aaa;
    transition: .5s;
    cursor: pointer;
    clear: both;
    text-decoration: none;
  }
  
  .star li:hover a {
    color: #f00;
  }
  
  .star li:hover~li a {
    color: #ff0000; 
  }
  
.appList{
    position: relative;
    padding-top: 60px;
    padding-right: 100px;
}

.right{
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    margin-left: 300px;
}
.app{
    display: flex;
    padding-bottom: 20px;
}
.item{
    border-radius: 15%;
}
.size{
    width: 64px;
    height: 64px;
}

.app2{
    padding-right: 10px;
}
.bold{
    font-weight: bold;
    line-height: 30px;
}
.pt5{
    padding-top: 10px;
}
.pl6{
    padding-left: 6px;
}
.pr6{
    margin-left: -5px;
}

.right h1{
    font-weight: bold;
    
    font-size: 24px;
}
.footerIcon{
    position: relative;
    top: 110px;
}



.magnifier{
    display: none;
}

.star1{
    display: flex;flex-direction: row-reverse; position: relative; right: 30px;top: 10px;
}
.star1 ul {
    transition-delay: 8s;
    direction: ltr;
    clear: both;
    display: flex;
  }
  
  ul {
    display: flex;
  }
  
  .star1 li a {
    display: inline-block;
    color: #aaa;
    transition: .5s;
    cursor: pointer;
    clear: both;
    text-decoration: none;
  }
  
  .star1 li:hover a {
    color: #f00;
  }
  
  .star1 li:hover~li a {
    color: #ff0000; 
  }
  
  .star2{
    display: flex;flex-direction: row-reverse; position: relative; right: 30px;top: 10px;
}
.star2 ul {
    transition-delay: 8s;
    direction: ltr;
    clear: both;
    display: flex;
  }
  
  ul {
    display: flex;
  }
  
  .star2 li a {
    display: inline-block;
    color: #aaa;
    transition: .5s;
    cursor: pointer;
    clear: both;
    text-decoration: none;
  }
  
  .star2 li:hover a {
    color: #f00;
  }
  
  .star2 li:hover~li a {
    color: #ff0000; 
  }

  .star3{
    display: flex;flex-direction: row-reverse; position: relative; right: 30px;top: 10px;
}
.star3 ul {
    transition-delay: 8s;
    direction: ltr;
    clear: both;
    display: flex;
  }
  
  ul {
    display: flex;
  }
  
  .star3 li a {
    display: inline-block;
    color: #aaa;
    transition: .5s;
    cursor: pointer;
    clear: both;
    text-decoration: none;
  }
  
  .star3 li:hover a {
    color: #f00;
  }
  
  .star3 li:hover~li a {
    color: #ff0000; 
  }



  .star4{
    display: flex;flex-direction: row-reverse; position: relative; right: 30px;top: 10px;
}
.star4 ul {
    transition-delay: 8s;
    direction: ltr;
    clear: both;
    display: flex;
  }
  
  ul {
    display: flex;
  }
  
  .star4 li a {
    display: inline-block;
    color: #aaa;
    transition: .5s;
    cursor: pointer;
    clear: both;
    text-decoration: none;
  }
  
  .star4 li:hover a {
    color: #f00;
  }
  
  .star4 li:hover~li a {
    color: #ff0000; 
  }
@media(max-width: 375px) {
    body, html {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* 這會隱藏水平滾動條，如果有的話 */
    }
    .desktop {
        display: none;
    }
    .headerham{
        background-color: #fff;
        height: 44px;
        padding: 0 18px;
       display: block;
    }
   .header{
    position: relative;
    background-color: #fff;
   }
   .logo{
    position: absolute;
    left:-50px;
   }
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        height: 410px;
        line-height: 50px;
       position: relative;
       top: 200px;
    }
    .border{
        display: none;
    }
    .footerlogo{
        padding-top: 10px;
    }
    .footer ul {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        margin-bottom: 120px;
    }
    
    .footer ul li {
        font-weight: bold;
    }
    .footericon{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .marker{
        position: absolute;
        display: flex;
        bottom:-0px;
        right: 30px;
      
    }
    .icon {
        margin-left: 20px;
    }
    .wishman{
        width: 200px;
        height: 200px;
    }
    .hamburger-container{
        width: 20px;
        height: 20px;
        display: block;
        position:relative;
        top: 16px;
        
        
    }
    .hamburger-container span {
        display: block;
        height: 1px;
        background: #000;
        position: relative;
        transition:transform .3s ease-in-out , top .3s ease-in-out .3s;
        top:0;
    }
    #toggler:checked + label .hamburger-container span:nth-child(1){
        transform: rotate(45deg);
        top: 4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
        /* 先把線條重疊再交叉 */
    }
    #toggler:checked + label .hamburger-container span:nth-child(2){
        transform: rotate(-45deg);
        top: -4px;
        transition: top .3s ease-in-out, transform .3s ease-in-out.3s;
    }
    .hamburger-container span:nth-child(2){
        margin-top: 7px;
    }
    #burger:checked ~ .mobile {
        display: block;
    }
  
   
    .nav-items{
        background-color:#f5f5ff;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 44px;
        left: 0;
        transform: scaleY(0);
        transition: transform .3s ease-in-out .3s, opacity .3s ease-in-out .3s;
        transform-origin: 50% 0 ;
        opacity: 0;
        z-index: 5000;
    }
    #toggler:checked ~ .nav-items{
        transform: scaleY(1);
        opacity: 1;
    }
    .nav-items ul {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-top: 30px;
    }
    .nav-items ul li {
        line-height: 60px;
        font-size: 36px;
        font-weight: bold;
    }

    #search{
        text-align: center;
        position: relative;
        top: -10px;
        left: 105px;
        width: 395px;
        border-radius: 15px;
    }
    .findBtn{
        display: none;
    }
    .search img{
        position: absolute;
        top: -1px;
        right: 20px;
        width: 25px;
        height: 25px;
    }
    .left ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 10px;
        
        
    }
    .left ul li{
        display: flex;
        padding-right: 11px;
        margin-left: 10px;
        top: -40px;
        left: 30px;
    }
    .left a{
        top: 125px;
        right: 1px;
    }
    .left{
        left: 0;
        display: flex;
    }
    
    .appList{
        width: 10px;
        height: 10px;
        
    }
    .logoIcon{
        width: 80px;
        height: 80px;
        left: -280px;
        top: 210px;
    }
    .bookMark img{
        width: 10px;
        height: 10px;
    }
    .item{
        top: 250px;
    }
    .bookMark{
        position: absolute;
        left: -210px;
        top: 280px;
    }
    .right h1{
        position: relative;
        top: 250px;
        left: -270px;
    }
    .download{
        position: absolute;
        left: -210px;
        top: 310px;
    }
    .star {
        position: relative;
        top: 220px;
        left: -220px;
    }
    .bold1{
        display: flex;
        line-height: 20px;
        position: relative;
        top: 220px;
        left: -270px;
        font-weight: bold;
        width: 60px;
        padding-top: 10px;
    }
    .bold2{
        display: flex;
        line-height: 20px;
        position: relative;
        top: 260px;
        left: -280px;
        font-weight: bold;
        width: 100px;
        padding-top: 10px;
    }
    .bold3{
        display: flex;
        line-height: 20px;
        position: relative;
        top: 180px;
        left: -280px;
        font-weight: bold;
        width: 100px;
        padding-top: 10px;
    }
    .bold4{
        display: flex;
        line-height: 20px;
        position: relative;
        top: 280px;
        left: -280px;
        font-weight: bold;
        width: 100px;
        padding-top: 10px;
    }
    .bold5{
        display: flex;
        line-height: 20px;
        position: relative;
        top: 380px;
        left: -280px;
        font-weight: bold;
        width: 100px;
        padding-top: 10px;
    }
    .vertical-lr{
        writing-mode: vertical-lr;
    }
    .app2{
        padding-top:100px;
    }
    .mt4{
        margin-top: 4px;
    }
   .bookMark1{
    position: absolute;
    top: 315px;
    left: -220px;
   }
   .download1{
    position: absolute;
    top: 360px;
    left: -220px;
   }
   .star1 {
    position: relative;
    top: 250px;
    left: -320px;
}
    .game{
        position: absolute;
        top: 380px;
    }
    .app3{
        position: absolute;
        top: 230px;
    }
    .appList{
        padding-bottom: 90px;
    }
    .bookMark2{
        position: absolute;
        top: 235px;
        left: -220px;
       }
    .download2{
        position: absolute;
        top: 280px;
        left: -220px;
       }
       .app4{
        position: absolute;
        top: 332px;
       }
       .app5{
        position: absolute;
        top: 103px;
        left: -265px;
       }
       .bookMark3{
        position: absolute;
        top: 336px;
        left: -220px;
       }
    .download3{
        position: absolute;
        top: 381px;
        left: -220px;
       }
       .bookMark4{
        position: absolute;
        top: 107px;
        left: -205px;
       }
    .download4{
        position: absolute;
        top: 151px;
        left: -205px;
       }
       .star2{
        position: relative;
        top: 175px;
        left: -320px;
       }
       .star3{
        position: relative;
        top: 275px;
        left: -220px;
       }
       .star4{
        position: relative;
        top: 375px;
        left: -205px;
       }
       
}